// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {

  padding: 10px;
  height: 80px;
  width: 150px;
  position: absolute;
  border-color: #33AFFF;
  background-color: #33FF83;
  border-style: solid;
  border-width: medium;
  border-width: thin;
  border-radius: 6px;
  margin: auto;
  font-size: 15;
  text-align: center;
  text-decoration-color: #334CFF;


}
